<!doctype html>
<html lang="en">

<head>
    <title>Mylo Media</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/styles/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="back">
        <a href="/" style="">
            <button class="btn"><i class="fa fa-home"></i> Home</button>
        </a>
    </div>
    <div class="image-date">
        {{date}}
    </div>
    <div class="main-section">
        <div class="image-partition">
            {{#if pic}}
            <img class="single-image" src="/photos/{{location}}" alt="{{date}}">
            {{else}}
            <video class="single-video" width="70%" height="auto" controls>
                <source src="/photos/{{location}}" type="video/mp4">
            </video>
            {{/if}}
        </div>
        <div class="leftPage">
            <div class="gameDescription">
                {{desc}}
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

<footer>
    Could you tell I don't design wepbages?
</footer>
</html>